/* frontend/adminEasyEconomy/src/components/admin/docentes/editarDocente.css */

.editar-docente-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la ventana */
  background-color: #f8f9fa4b; /* Color de fondo */
}

.editar-docente-form {
  width: 100%;
  max-width: 400px; /* Ancho máximo del formulario */
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.editar-docente-form .form-control {
  margin-bottom: 15px; /* Espacio inferior entre campos */
}

.editar-docente-form .btn-primary {
  width: 100%; /* Botón de ancho completo */
}