/* frontend/adminEasyEconomy/src/components/admin/clavePucv/verClavesPucv.css */

.ver-claves-pucv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2; /* Color de fondo */
  min-height: 100vh; /* Altura mínima de la ventana */
}

.ver-claves-pucv-button {
  margin-bottom: 20px;
}

.ver-claves-pucv-list {
  width: 100%;
  max-width: 1200px; /* Ancho máximo del contenido */
}

.ver-claves-pucv-card {
  margin-bottom: 20px;
  background-color: #f2f2f2; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.ver-claves-pucv-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ver-claves-pucv-card-title {
  margin-bottom: 0;
}

.ver-claves-pucv-card-text {
  margin-bottom: 0;
}

.ver-claves-pucv-card-buttons {
  display: flex;
  gap: 10px;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  .ver-claves-pucv-container {
    padding: 10px;
  }

  .ver-claves-pucv-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .ver-claves-pucv-list {
    padding: 0;
  }

  .ver-claves-pucv-card {
    margin-bottom: 10px;
    border-radius: 5px; /* Bordes menos redondeados */
  }

  .ver-claves-pucv-card-body {
    flex-direction: column;
    align-items: flex-start;
  }

  .ver-claves-pucv-card-buttons {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }

  .ver-claves-pucv-card-buttons button {
    flex: 1;
    margin-right: 5px;
  }

  .ver-claves-pucv-card-buttons button:last-child {
    margin-right: 0;
  }
}