/* claveCurso.css */

.clave-curso-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la ventana */
  background-color: #ffffff2f; /* Color de fondo suave */
}

.clave-curso-list {
  width: 100%;
  max-width: 600px; /* Ancho máximo del contenedor */
}

.clave-curso-card {
  margin-bottom: 20px;
}

.clave-curso-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la ventana */
}