/* frontend/adminEasyEconomy/src/components/admin/home/homeAdmin.css */

.home-admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa1f; /* Color de fondo */
  min-height: 100vh; /* Altura mínima de la ventana */
}

.navbar-container {
  width: 100%;
  margin-bottom: 20px;
}

.content {
  width: 100%;
  max-width: 1200px; /* Ancho máximo del contenido */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.856); /* Sombra */
  padding: 20px;
}