/* editarCurso.css */

.editar-curso-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  margin: auto;
  background-color: #ffffff2f; /* Color de fondo suave */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.editar-curso-title {
  text-align: center;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
}

.form-switch {
  display: flex;
  align-items: center;
}

.form-button {
  width: 100%;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
}

@media (max-width: 768px) {
  .editar-curso-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
  }
}

.editar-curso-form
{
  width: 50%;
}

.form-button
{
  margin: 1%;
}