/* editarSeccionCurso.css */

.editar-seccion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra el contenido verticalmente */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  padding: 20px;
  width: 100%;
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  margin: auto;
  background-color: #ffffff2f; /* Color de fondo suave */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.editar-seccion-title {
  text-align: center;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.editar-seccion-form {
  width: 100%;
}

@media (max-width: 768px) {
  .editar-seccion-container {
    padding: 10px; /* Reduce el padding en móviles */
    max-width: 100%; /* Ancho completo en móviles */
  }
}