/* verSeccionesCurso.css */

.ver-secciones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  margin: auto;
  background-color: #ffffff2f; /* Color de fondo suave */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.ver-secciones-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.ver-secciones-list {
  width: 100%;
}

.ver-secciones-list-item {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de opacidad */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.ver-secciones-list-item-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .ver-secciones-container {
    padding: 10px; /* Reduce el padding en móviles */
    max-width: 100%; /* Ancho completo en móviles */
  }

  .ver-secciones-list-item {
    margin-bottom: 15px; /* Reduce el margen inferior en móviles */
  }

  .ver-secciones-list-item-buttons {
    flex-direction: column; /* Coloca los botones en columna en móviles */
    gap: 5px; /* Reduce el espacio entre botones en móviles */
  }
}