/* agregarCuestionario.css */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra el contenido verticalmente */
    height: 100%; /* Ocupa toda la altura de la ventana */
    width: 100%;
    max-width: 800px !important; /* Ajusta el ancho máximo según tus necesidades */
    margin: auto;
    background-color: #ffffff2f; /* Color de fondo suave */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 3% !important;
    margin-bottom: 3% !important;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #f2f2f2;
}

.form-group {
    margin-bottom: 15px;
}
.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #f2f2f2 !important;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pregunta-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #696969;
    border-radius: 4px;
    background-color: #ffffff2f !important;
}

.respuesta-container {
    margin-bottom: 10px;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-button:hover {
    background-color: #0056b3;
}
.center-button {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px; /* Reduce el padding en móviles */
        max-width: 100%; /* Ancho completo en móviles */
        height: 100% !important;
    }
    .form-form
    {
        width: 100%;
        height: auto !important;
    }
}