/* cuestionarios.css */

.cuestionarios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  margin: auto;
  background-color: #ffffff2f; /* Color de fondo suave */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.cuestionarios-title {
  text-align: center;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.cuestionarios-list {
  width: 100%;
}

.cuestionario-card {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de opacidad */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.cuestionario-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cuestionario-item-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.crear-cuestionario-button-container
{
  display: flex;
  justify-content: center;
  margin: 20px;
}

@media (max-width: 768px) {
  .cuestionarios-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    padding: 10px; /* Reduce el padding en móviles */
    max-width: 100%; /* Ancho completo en móviles */
  }

  .cuestionario-card {
    margin-bottom: 15px; /* Reduce el margen inferior en móviles */
  }

  .cuestionario-item-buttons {
    flex-direction: row; /* Coloca los botones en columna en móviles */
    align-items: center; /* Centra los botones horizontalmente */
    gap: 5px; /* Reduce el espacio entre botones en móviles */
  }
}