/* Estilos para centrar el spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la ventana */
  flex-direction: column; /* Organizar los placeholders en columnas */
}

/* Estilos para el contenedor de cuestionarios */
.cuestionarios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%; /* Ajusta el ancho del contenedor */
  max-width: 40rem; /* Opcional: establece un ancho máximo */
  margin: auto; /* Centra el contenedor horizontalmente */
  background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con 80% de opacidad */
  border-radius: 10px; /* Opcional: agrega bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: agrega una sombra para darle profundidad */
}

.cuestionarios-title {
  text-align: center;
  margin-bottom: 1rem;
  color: #f2f2f2;
}

.cuestionario-card {
  width: 30rem;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 80% de opacidad */
  border-radius: 10px; /* Opcional: agrega bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: agrega una sombra para darle profundidad */
  position: relative; /* Necesario para posicionar el spinner absolutamente */
}

.card {
  background-color: #f2f2f2 !important;
}

.cuestionario-button {
  margin-right: 10px;
}

.spinner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Asegura que el spinner esté sobre los placeholders */
}

/* Estilos para los placeholders */
.placeholder-card {
  width: 30rem;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 80% de opacidad */
  border-radius: 10px; /* Opcional: agrega bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: agrega una sombra para darle profundidad */
  position: relative; /* Necesario para posicionar el spinner absolutamente */
}

.cuestionario-item-buttons {
  display: flex;
  gap: 10px;
}

.list-group-item
{
  display: flex !important;
}

.btn
{
  margin-bottom: 10px !important;
}

.card-title
{
  margin-bottom: 1rem !important;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cuestionario-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cuestionarios-list {
  width: 100%;
  align-items: center;
}

@media (max-width: 768px) {
  .cuestionario-item {
    flex-direction: column; /* Coloca los elementos en columna en móviles */
    align-items: flex-start; /* Alinea los elementos al inicio en móviles */
  }

  .cuestionario-item-buttons {
    flex-direction: column; /* Coloca los botones en columna en móviles */
    gap: 5px; /* Reduce el espacio entre botones en móviles */
    width: 100%; /* Ancho completo para los botones en móviles */
    align-items: center; /* Centra los botones en móviles */
  }

  .btn {
    width: 100%; /* Botones de ancho completo en móviles */
  }
}