/* Estilos para centrar el spinner */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
}

/* Estilos para el contenedor de cuestionarios */
.cuestionarios-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cuestionarios-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.cuestionario-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cuestionario-item:last-child {
    border-bottom: none;
}

.cuestionario-actions {
    display: flex;
    gap: 10px;
}

.cuestionario-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cuestionario-button.edit {
    background-color: #ffc107;
    color: white;
}

.cuestionario-button.delete {
    background-color: #dc3545;
    color: white;
}

.cuestionario-button.create {
    background-color: #28a745;
    color: white;
    margin-bottom: 20px;
}

.contenedor-boton-cuestionarios {
    display: flex; /* Cambiar a flex para usar Flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 50%;
    margin: 0 auto; /* Centrar el contenedor en la página */
    flex-direction: column;
}

.contenedor-boton-cuestionarios > button
{
    margin: 2%;
}

.cuestionarios{
    width: 100%;
    margin: 2%;
}
.card{
    margin: 2%;
}