/* editarCuestionario.css */

.editar-cuestionario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  margin: auto;
  background-color: #ffffff2f; /* Color de fondo suave */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  margin-top: 3%;
  margin-bottom: 3%;
}

.editar-cuestionario-title {
  text-align: center;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.editar-cuestionario-form {
  width: 100%;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
}

.form-switch {
  display: flex;
  align-items: center;
}

.form-button {
  width: 100%;
  background-color: #ffc107; /* Cambiar el color a amarillo */
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #e0a800;
}

.error-message {
  color: red;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.placeholder-container {
  width: 100%;
  margin-top: 20px;
  position: relative; /* Para posicionar el spinner */
}

.editar-cuestionario-placeholder {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de opacidad */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  padding: 20px; /* Añadir padding para que coincida con el formato de los datos cargados */
}

.spinner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Asegura que el spinner esté sobre los placeholders */
}

@media (max-width: 768px) {
  .editar-cuestionario-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Reduce el padding en móviles */
    max-width: 100%; /* Ancho completo en móviles */
    height: auto; /* Ajusta la altura automáticamente */
  }

  .editar-cuestionario-form {
    width: 80%; /* Asegura que el formulario ocupe todo el ancho disponible */
  }

  .form-group {
    width: 100%; /* Asegura que el grupo de formulario ocupe todo el ancho disponible */
  }

  .form-control {
    width: 100%; /* Asegura que el control de formulario ocupe todo el ancho disponible */
  }

  .form-button {
    width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
  }
}